/*@import url("modules/tabs-fill-available-width.css");*/
@import url("modules/two-column-search-results.css");


/* Hide the close button from tabs */
.tab-close-button {
    display: none !important;
}





